/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:600);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "employees";
@import "schedules";
@import "shifts";
@import "scaffolds";
@import "utilities";

$yellow: #FFC731;
$blue: #309AC3;
$darkgray: #252525;
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Open Sans", sans-serif;

html, body {
  background: #EDF1F5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;

}

#header-wrap {
  background: $darkgray;
  padding: 10px 0;
}
#header {
  text-align: center;
  img {
    height: 45px;
  }

  a {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: 16px 20px;
    font-size: 10pt;
    text-transform: uppercase;
    &:hover {
      color: $yellow;
      background: none;
      text-decoration: none;
    }
  }
}

#top-date {
  font-family: "Roboto";
  font-size: 17pt;
  padding: 20px 0;
  color: #737373;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.new_user {
  width: 390px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #e0e2e3;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  margin-top: 50px;

  input[type=email],
  input[type=password]{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 2px;
    font-family: $secondaryFont;
  }

  input[type=submit] {
    background: $blue;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 2px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);

    &:hover {
      background: lighten($blue, 10);
    }
  }

  label {
    font-family: $primaryFont;
    font-size: 14pt;
    font-weight: 300;
  }

  .field {
    margin-bottom: 15px;
  }
}

footer {

}
