.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

hr {
  border-bottom: 3px solid #949494;
  width: 75px;
  padding: 0;
  margin: 15px 0 10px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
